streamlit==1.46.1
python-dotenv
langchain-groq
langchain-core
langchain-classic
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers==3.4.1
torch==2.5.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
